.main {
    height: 800px;
    background: #10100f;
    position: relative;
    &__hamburger {
        position: absolute;
        top: 6%;
        right: 18%;
        width: 50px;
        height: 50px;
        cursor: pointer;
        opacity: .8;
        div {
            border: 2px solid #bef104;;
            margin-bottom: 6px;
        }
    }
    &__text {
        margin-top: 166px;
        width: 240px;
        float: right;
        font-size: 16px;
        color: #fff;
    }
    &__image {
        position: absolute;
        left: 0px;
        background: white;
        height: 800px;
        width: 76%;
    }
    .navbar {
        padding-top: 2.5rem;
        padding-left: 3.5rem;
    }
    .navbar-nav {
       
        li {
            &:hover {
                background-color: #bef104;
                border-radius: 10px;
                opacity: 0.8;
            }
            a {
                color: black;
            }
        }
        .nav-link {
            padding-right: 7.5rem;
        }
        .nav-item {
            border-radius: 6px;
            border: 1px solid #92e411;
            margin-right: 1.5rem;
            opacity: 0.9;
        }
    }
}